<!-- Thebe configuration -->
<script type="text/x-thebe-config">
  thebeConfig = {
    binderOptions: {
      repo: "sagemath/sage-binder-env",
    },
    stripPrompts: {
      inPrompt: "sage: ",
      continuationPrompt: "....: ",
      selector: 'pre:contains("sage: ")',
    },
    kernelOptions: {
      name: "sagemath",
    },
    requestKernel: true
  };
</script>

<!-- Load Thebe -->
<script type="text/javascript" src="https://unpkg.com/thebelab@^0.1.0"></script>

<!-- Activate Thebe on page load -->
<script>
    window.onload = function() {
        thebelab.bootstrap();
    };
</script>
